[Unit]
Description=Regular Timer for Package Backup

[Timer]
; Every 3 days at 1100
; Runs on the 1st, 4th, 7th, …, 28th of every month at 11:00 AM.
; OnCalendar=*-*-1,4,7,10,13,16,19,22,25,28 11:00
; Every 4 days at 1100
; OnCalendar=*-*-1,5,9,13,17,21,25,29 11:00
; Ever Mondday at 1100
OnCalendar=Mon 11:00
; Ensures the backup runs after boot if the system was off at the scheduled time.
Persistent=true

[Install]
WantedBy=timers.target

