@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 15px;
}

window#waybar {
	background-color: rgba(21, 18, 27, 0);
	color: @text;
}

tooltip {
	background: #1e1e2e;
	border-width: 1.5px;
	border-style: solid;
	border-color: #11111b;
	transition: 0.3s;
	color: #89b4fa;
}

#custom-power_profile,
#custom-weather,
#custom-audio_idle_inhibitor,
#window,
#clock,
#battery,
#pulseaudio,
#disk,
#cpu,
#memory,
#network,
#custom-music,
#bluetooth,
#custom-wl-gammarelay-temperature,
#temperature,
#workspaces,
#tray,
#backlight {
	background: #1e1e2e;
	opacity: 0.9;
	padding: 0px 10px;
	margin-top: 5px;
	/*    margin-bottom: 5px;*/
	border-radius: 10px;
}

#workspaces {
	background: #1e1e2e;
	margin-left: 5px;
	padding-left: 5px;
}

#clock {
	color: #fab387;
	margin-right: 5px;
	padding-left: 7px;
}

#network {
	color: #f9e2af;
}

#disk {
	color: @mauve;
}

#cpu {
	color: @peach;
}

#custom-wl-gammarelay-temperature {
	color: #ffb387;
}

#memory {
	color: @maroon;
}

#custom-audio_idle_inhibitor {
	color: @flamingo;
	padding-left: 6px;
}

#custom-music {
	color: @green;
}

#bluetooth {
	color: #89b4fa;
}

#pulseaudio {
	color: #89b4fa;
}

#pulseaudio.microphone {
	color: #cba6f7;
}

#battery {
	color: #a6e3a1;
}

#workspaces button {
	padding: 0 8px;
	color: @text;
	margin: 5px 0 5px 5px;
}

#workspaces button.active {
	background-color: @sapphire;
	color: @crust;
}

#workspaces button.urgent {
	background-color: @red;
	color: @crust;
}