* {
  font-family: "SF Pro Text";
  font-size: 13.5px;
  color: #ffffff;
}

window#waybar {
  background-color: #060609;
}

#window {
  color: red;
}

window#waybar #workspaces button,
window#waybar #workspaces button.active,
window#waybar #workspaces button:hover {
  transition: none;
}

#workspaces button {
  padding: 0 3px;
  border: none;
  background: transparent;
}

#workspaces button.active {
  background: #da3775;
  border-radius: 0px;
}

#workspaces button.active label {
  color: #000000;
}

#clock {
  color: #96f3ff;
  padding-right: 10px;
}

#network
  #custom-power
  #cpu
  #memory
  #battery
  #network
  #custom-weather
  #user
  #backlight
  #pulseaudio
  #pulseaudio.microphone
  #bluetooth
  #custom-music
  #custom-audio_idle_inhibitor
  #network
  #tray {
  color: #fff;
}

#battery {
  color: #ffb3fa;
}

#backlight {
  color: #ffe699;
}

#mpris {
  color: #b3ffb4;
}

#pulseaudio {
  color: #fec98f;
}

#pulseaudio.muted {
  color: #ff5f5f;
}

#network {
  color: #b3bbff;
}

#bluetooth {
  color: #b3d3ff;
}

#cpu {
  color: #dcffb3;
}

#memory {
  color: #ffd3b3;
}

#temperature {
  color: #e2cbf7;
}

#temperature.critical {
  color: #ff5f5f;
}

#custom-fullscreen {
  color: #f6ea2c;
}

#custom-headphones {
  color: #f78ca7;
}

#network.disconnected {
  color: #ff5f5f;
}

#network.disabled {
  color: #ffaa00;
}
