@theme "minimal-fullscreen"

// TO UNSET: https://man.archlinux.org/man/rofi-keys.5.en#Unsetting_a_binding
// KEYBINDS: https://man.archlinux.org/man/rofi-keys.5.en#Keyboard_Bindings
configuration {
  kb-remove-to-sol: "";
}
