[Unit]
Description=Weekly Watchtower Update Timer

[Timer]
# runs on every Monday at 1200
OnCalendar=Mon 12:00
# ensures it runs even if the system was off at the scheduled time
# so if missed it'll auto run on next boot
Persistent=true

[Install]
WantedBy=timers.target

