mgr.prepend_keymap = [
  # Shell
  { on = "!", run = 'shell "$SHELL" --block', desc = "Open shell here" },
  { on = ["g","o"], run = '''shell "ripdrag \"$@\" 2>/dev/null &" --confirm''', desc = "Drag n Drop (using ripdrag)" },
  { on = "<A-y>", run = ["shell 'wl-copy < \"$@\"'"], desc = "Yank file and copy it to clipboard" }, # NOTE: this works perfectly but only problem - doesn't send any notification on success
  { on = ["g","y"], run = ['shell "basename -- \"$@\" | wl-copy"'], desc = "Copy filename to clipboard" },

  # Native
  { on = ["g","h"], run = "hardlink", desc = "Hardlink yanked files here" },

  # Plugins
  { on = ["g","z"], run = "plugin ouch --args=zip", desc = "Compress with ouch" },
  { on = ["g","s"], run = "plugin what-size", desc = "Calc size of selection or cwd" },
  { on = ["g","m"], run = "plugin chmod", desc = "Chmod on selected files" },
  { on = [";"], run = "plugin bunny", desc = "Start bunny.yazi" },
  { on = [":"], run = "plugin bunny fuzzy", desc = "Start bunny.yazi fuzzy search" },
  { on = ["g","k"], run = "plugin kdeconnect-send", desc = "Send selected files via KDE Connect" },
  { on = ["M","m"], run = "plugin gvfs -- select-then-mount", desc = "Select device then mount" },
  { on = ["M","m"], run = "plugin gvfs -- select-then-mount --jump", desc = "Select device to mount and jump to its mount point" },
  { on = ["M","R"], run = "plugin gvfs -- remount-current-cwd-device", desc = "Remount device under cwd" },
  { on = ["M","u"], run = "plugin gvfs -- select-then-unmount", desc = "Select device then unmount" },
  { on = ["M","u"], run = "plugin gvfs -- select-then-unmount --eject", desc = "Select device then eject" },
  { on = ["M","U"], run = "plugin gvfs -- select-then-unmount --eject --force", desc = "Select device then force to eject/unmount" },
  { on = ["M","a"], run = "plugin gvfs -- add-mount", desc = "Add a GVFS mount URI" },
  { on = ["M","e"], run = "plugin gvfs -- edit-mount", desc = "Edit a GVFS mount URI" },
  { on = ["M","r"], run = "plugin gvfs -- remove-mount", desc = "Remove a GVFS mount URI" },
  { on = ["M","M"], run = "plugin gvfs -- jump-to-device", desc = "Select device then jump to its mount point" },
  { on = ["M","M"], run = "plugin gvfs -- jump-to-device --automount", desc = "Automount then select device to jump to its mount point" },
  { on = ["`","`"], run = "plugin gvfs -- jump-back-prev-cwd", desc = "Jump back to the position before jumped to device" },
  { on = ["M","t"], run = "plugin gvfs -- automount-when-cd", desc = "Enable automount when cd to device under cwd" },
  { on = ["M","T"], run = "plugin gvfs -- automount-when-cd --disabled", desc = "Disable automount when cd to device under cwd" },
]

input.prepend_keymap = [
  { on = "<Esc>", run = "close", desc = "Cancel input" }
]
