[Unit]
Description=Automatic light/dark theme based on system time

[Service]
ExecStart=%h/scripts/auto-light-dark.sh
Restart=always
Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=/run/user/%U"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus"

[Install]
WantedBy=default.target
